<div onclick="toggleSocial()" class="social-widget">
  <div class="social-icons" id="socialMenu">
    <a href="https://tiktok.com/@elioush_gaming" target="_blank" aria-label="TikTok">
      <i class="fa-brands fa-tiktok"></i>
    </a>
    <a href="https://discord.gg/V7n4v3CP" target="_blank" aria-label="Discord">
      <i class="fa-brands fa-discord"></i>
    </a>
    <a href="https://wa.me/2250546445542?text=Bonjour%20ELIOUSH%20GAMING" target="_blank" aria-label="WhatsApp">
      <i class="fa-brands fa-whatsapp"></i>
    </a>
  </div>
  <div class="main-btn" title="Réseaux sociaux">
    <img src="https://i.postimg.cc/rw2ZZHrP/LOGO-Elioush.jpg" alt="Elioush Gaming">
  </div>
</div>
